@using RChino.UI.Web.Models.Helpers;

<h2>Lista de Usuarios</h2>

@Html.CtrlInput(id: "txtName", label: "Nombre")

@Html.CtrlInput(id: "txtApellido", label: "Apellido")

@Html.CtrlInput(id: "btnEnviar", label: "" , type: "submit", value: "Log In")


@*<input type="submit" value="Log in" />
<input id="EsFijo" name="EsFijo" type="checkbox" value="true" />*@ 
